* {
  font-family: "Lato", verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
//  position: fixed;
  width: 100%;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 89px;
}

.logo {
  margin: 29px 0 41px 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.logo::after {
  content: "*";
  color: #f06c64;
}

.burger-logo {
  position: fixed;
  left: 71px;
  top: -45px;
  z-index: 3;
  transform: translate(0, 69px);
  transition: 0.7s;
}

.main-menu {
  width: 375px;
  height: 14px;
  margin: 40px 40px 41px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger_active {
  transform: translate(278px, 0);
  transition: 1s;
}

.main-menu__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.035em;
  color: #ffffff;
  text-decoration: none;
}

.main-menu_active {
  color: #f06c64;
}

.main-menu__link:hover {
  text-decoration: underline;
}

.main-menu__dot {
  color: #ffffff;
}

#burger-icon {
  display: none;
  position: fixed;
  left: 20px;
  top: 26px;
  z-index: 6;
  transition: 0.7s;
}

#burger-icon:hover {
  cursor: pointer;
}

.rotate {
  transform: rotate(90deg);
}

.burger-move {
  transform: translate(278px, 0);
}

#overlay-tint {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2d303a;
  opacity: 0.5;
  z-index: 4;
}

.slider {
  position: relative;
  height: 600px;
}

.slide1-container {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
//  transition: 0.5s;
}

.slide2-container {
  background-color: #648BF0;
  border-bottom: 6px solid #5679D4;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
//  transition: 0.5s;
}

.slide1 {
  position: relative;
  height: 594px;
  background-image: url("src/img/slider1.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slide2 {
  height: 594px;
  background-image: url("src/img/slider2.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slide_top {
  z-index: 2;
}

.arrows {
  width: 940px;
  position: absolute;
  z-index: 3;
  top: 47%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#left-arrow:hover,
#right-arrow:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.services {
  background-color: #f2f2f2;
  height: 494px;
  border-bottom: 6px solid #ffffff;
}

.services-wrapper {
  padding: 59px 40px 0 40px;
}

h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.services__title {
  color: #666d89;
  margin-bottom: 18px;
}

.services__description {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.services-list {
  display: flex;
  flex-basis: 300px;
}

.services-list__description {
  margin: 0 0 40px 20px;
  max-height: 96px;
  overflow: hidden;
}

.services-list img {
  align-self: flex-start;
}

.services-list__description h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  margin-bottom: 7px;
  max-height: 20px;
  overflow: hidden;
}

.services-list__description p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767e9e;
}

.portfolio {
  background-color: #2d303a;
  height: 864px;
  border-bottom: 6px solid #323746;
}

.portfolio-wrapper {
  padding: 59px 40px 0 40px;
}

.portfolio__title {
  color: #666d89;
  margin-bottom: 14px;
}

.portfolio__description {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
}

.buttons-container {
  margin: 12px 0 18px 0;
}

.button {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #767e9e;
  border: 1px solid #767e9e;
  border-radius: 5px;
  padding: 3px 6px 3px 6px;
  margin-right: 9px;
}

.button_active {
  color: #dedede;
}

.button:hover {
  cursor: pointer;
  color: #dedede;
}

.grid-gallery {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 940px;
  max-height: 611px;
  overflow: hidden;
}

footer {
  background-color: #2d303a;
}

.footer_wrapper {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #666d89;
  margin-left: 40px;
}

.social-link {
  margin-right: 40px;
}

.social-link a {
  margin-left: 8px;
  text-decoration: none;
}

.social-link a img:hover {
  transition: 0.5s all;
  transform: rotate(360deg) scale(1.5);
}

.hidden {
  display: none;
}

@media all and (max-width: 1019px) {
  .slider {
    height: 450px;
  }
  
  .slide1 {
    height: 444px;
    background-image: url("src/img/slider1-768.svg");
  }

  .slide2 {
    height: 444px;
    background-image: url("src/img/slider2-768.svg");
  }

  .arrows {
    width: 712px;
  }
    
  .services {
    height: 675px;
  }

  .services-wrapper {
    max-width: 691px;
    margin: 0 auto;
    padding: 40px 40px 0 39px;
  }

  .portfolio {
    height: 1088px;
  }

  .portfolio-wrapper {
    max-width: 691px;
    margin: 0 auto;
    padding: 59px 40px 0 39px;
  }

  .grid-gallery {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 689px;
    max-height: 808px;
    overflow: hidden;
  }

  .grid-gallery__img img {
    max-width: 215px;
    max-height: 184px;
  }
}

@media all and (max-width: 767px) {
  
  .slider {
    height: 220px;
  }
  
  .slide1-container {
    border-bottom: 3px solid #ea676b;
  }

  .slide2-container {
    border-bottom: 3px solid #5679D4;
  }

  .slide1 {
    height: 217px;
    background-image: url("src/img/slider1-375.svg");
  }

  .slide2 {
    height: 217px;
    background-image: url("src/img/slider2-375.svg");
  }
  
  .arrows {
    width: 355px;
  }

  .logo {
    font-size: 19.6875px;
    line-height: 24px;
  }
  
  .header {
    border-bottom: 3px solid #323746;
  }
  
  .header-wrapper {
    height: 68px;
    justify-content: center;
    align-items: center;
  }

  .menu-container {
    position: fixed;
    top: 0px;
    left: -278px;
    z-index: 5;
    width: 278px;
    height: 100%;
    background-color: #2d303a;
    transition: 0.7s;
  }

  .main-menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 150px 0 0 71px;
    width: 205px;
    height: 260px;
  } 

  .main-menu__link {
    font-size: 24px;
    position: relative;
  }

  .main-menu__dot {
    display: none;
  }

  .logo {
    margin: 0;
  }

  #burger-icon {
    display: block;
  }

  .services {
    height: 1032px;
  }

  .services-wrapper {
    max-width: 314px;
    margin: 0 auto;
    padding: 25px 29px 15px 33px;
  }

  .services-container {
    margin-top: 25px;
  }

  .services-list__description {
    margin: 0 0 15px 20px;
  }

  .portfolio {
    height: 844px;
  }

  .portfolio-wrapper {
    max-width: 315px;
    margin: 0 auto;
    padding: 42px 30px 42px 30px;
  }

  .grid-gallery {
    grid-gap: 10px;
    max-width: 315px;
    max-height: 563px;
    overflow: hidden;
  }

  .grid-gallery__img img {
    max-width: 151px;
    max-height: 128px;
  }

  .footer__title {
    display: none;
  }

  .footer_wrapper {
    justify-content: center;
  }

  .social-link {
    margin: 0;
  }
  
@media all and (max-width: 374px) { 
  .slide1 {
    background-image: url("src/img/slider1-320.svg");
  }

  .arrows {
    display: none;
  }

  .portfolio {
    height: 750px;
  }

  .grid-gallery {
    grid-gap: 10px;
    max-width: 260px;
    max-height: 465px;
    overflow: hidden;
  }
  
  .grid-gallery__img img {
    max-width: 125px;
    max-height: 110px;
  }

  .buttons-container {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
};