* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
	font-family: sans-serif;
	color: white;
}

#controllers {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	flex-wrap: wrap;
}

.buttons {
	border-radius: 4px;
	border: 1px solid black;
	height: 30px;
	width: 30px;
	outline: 0;
	cursor: pointer;
	font: 400 11px inherit;
}

.buttons:hover {
	background: transparent;
	color: #222;
	border-color: #4676d7;
}

#refresh-button {
	line-height: 20px;
}

#language-button {
	width: 50px;
}

#temperature__buttons {
	width: 60px;
}

#fahrenheit-button {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#celsium-button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: -5.5px;
}

#town-input {
	width: 150px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#search-button {
	width: 60px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: -5px;
}

#weather,
#future-weather {
	font-size: 30px;
}

.transparent {
	opacity: 0.5;
}
