* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	color: #ffffff;
}

#controllers {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	flex-wrap: wrap;
	max-width: 1440px;
	margin: 20px auto 0 auto;
}

#controllers__buttons {
	display: flex;
}

.buttons {
	border-radius: 5px;
	border: none;
	height: 44px;
	width: 44px;
	outline: 0;
	cursor: pointer;
	background: rgba(174, 181, 185, 0.5);
	font: 400 11px inherit;
	font-family: inherit;
}

.buttons:hover {
	background: rgba(174, 181, 185, 0.7);
}

#refresh-button {
	margin-left: 20px;
	background-image: url(icons/arrows.svg);
	background-repeat: no-repeat;
	background-position: center;
}

#language-button {
	width: 71px;
	font-weight: bold;
	font-size: 14px;
	margin-left: 10px;
	color: #ffffff;
	background: rgba(174, 181, 185, 0.5);
	text-indent: 15px;
	appearance: none;
	background-image: url(icons/vector.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-position-x: calc(100% - 15px);
}

#language-button:hover {
	background: rgba(174, 181, 185, 0.7);
}

#temperature__buttons {
	margin-left: 10px;
	display: flex;
}

.temperature-buttons {
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

#fahrenheit-button {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#celsium-button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.transparent {
	background: rgba(76, 82, 85, 0.4);
	color: rgba(255, 255, 255, 0.4);
}

#controllers__search {
	display: flex;
}

#town-input {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid rgba(174, 181, 185, 0.5);
	background: rgba(76, 82, 85, 0.4);
	height: 44px;
	outline: 0;
	cursor: pointer;
	width: 230px;
	font-family: Montserrat;
	font-weight: normal;
	font-size: 14px;
	color: #ffffff;
}

#town-input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

#search-button {
	width: 80px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-right: 20px;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
}

main {
	max-width: 1440px;
	display: flex;
	margin: 0 auto;
}

#left-container {
	text-transform: uppercase;
	flex-basis: 50%;
	margin-left: 20px;
}

#right-container {
	flex-basis: 50%;
	margin-right: 20px;
}

#weather-location {
	font-weight: bold;
	font-size: 44px;
	margin-top: 20px;
}

#weather-date-and-time {
	text-transform: none;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
}

#weather-container {
	display: flex;
	justify-content: space-between;
}

#weather-temperature {
	position: relative;
}

#weather-time {
	margin-left: 15px;
}

#temperature__now {
	font-weight: bold;
	font-size: 280px;
	line-height: 225px;
}

#degree-sign {
	font-size: 120px;
	vertical-align: 115px;
	position: relative;
	z-index: 1;
}

#icon__now {
	position: absolute;
	right: -180px;
	top: -50px;
}

#icon__now-img {
	width: 200px;
}

#weather-description {
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-left: 20px;
}

#future-weather {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.next-day__day-of-the-week {
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
}

.next-day-container {
	display: flex;
}

.next-day__temperature {
	font-weight: 600;
	font-size: 80px;
}

.next-day__icons {
	width: 70px;
}

#right-container {
}

#geolocation {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

#geolocation__map {
	width: 310px;
	height: 310px;
	border-radius: 25px;
	overflow: hidden;
}

#geolocation-coordinate {
	margin-top: 20px;
}

#geolocation-coordinate__latitude,
#geolocation-coordinate__longitude {
	text-align: right;
}
